* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Teko";
  font-size: 18px;
  line-height: 22px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  color: #fff;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

small {
  opacity: 0.4;
  margin-top: 20px;
  display: block;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 0;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: bold;
  margin-top: 0.67em;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.search-fields {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0;

  @media screen and (min-width: 767px) {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
  }
}
.search-fields .column {
  width: 100%;

  @media screen and (min-width: 767px) {
    width: 50%;
  }
}

.search-fields select {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 14px 10px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  outline: 0;
  border: 0;
  border-left: 1px solid #ccc;
}
.list-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.todo-list {
  max-width: 500px;
  min-height: 220px;
  max-height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #eaeaea;
  padding: 10px 6px;
  border-radius: 10px;

  @media screen and (min-width: 660px) {
    max-height: 500px;
  }

  .btn-holder {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 0.7em;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.todo-text {
  cursor: pointer;
}
.todo-text .category {
  font-size: 14px;
  color: #ccc;
  text-transform: capitalize;
}
.todo-completed {
  text-decoration: line-through;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
}

.todo button {
  color: #f37070;
  background: transparent;
}

.field,
input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  padding: 15px 15px;
  margin-bottom: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.form-holder {
  border-top: 1px solid;
  padding-top: 10px;
  margin-top: 10px;
}

.slecet-wrap {
  display: flex;
}

.form-holder button {
  display: block;
  flex-shrink: 0;
  color: #2980b9;
  background: #fff;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  &:hover {
    background-color: #2980b9;
    color: #fff;
  }
}

.form-holder select {
  flex-grow: 1;
  padding: 14px 10px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  outline: none;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.no-record {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363636;
  text-transform: capitalize;
}
.clipboard-banner {
  max-width: 300px;
  width: 100%;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: #e3e1e1; /* Background color of the scrollbar track */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the scrollbar thumb */
}

/* On hover, hover over the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.error {
  color: red;
  font-size: 14px;
  padding: 5px 6px;
}
